@import "properties.scss";
@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  //box-sizing: border-box;
}

body {
  background-color: $black;
  color: $white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-width: fit-content;
  //height: 100%;
  overflow: hidden;  
  position: relative;
}

.loading {
  background-color: $black;
  color: $white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}